div.loginForm {
    height: 100%;
    width: 100%;
    height: 100vh;    
    width: 100vw;
    margin: 0;
    background-image: linear-gradient( #148a66, #16397a) 
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;        
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
}
.box, button,label.forgotPassword {
    margin-left: auto;
    margin-right: auto;                
}
label.forgotPassword {
    margin-bottom: 20px;
    margin-top: 20px;
}
.box {
    margin: 50px 20px 50px 20px;        
}
label.forgotPassword {
    color :#ffffff;
    text-align: right;
    display: block;
}
label.email, label.password {
    color :#968f8f;
}
div.text-box {
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    height: 40px;
    width: 100%;
    min-width: 100%;
    padding: 0;
    border-radius: 0;
    line-height: 40px;
    background-color: transparent;
    color: white;        
    border: none;
    outline: none;
    border-bottom: 3px solid #333333;        
}

.login-btn {        
    height: 40px;
    width: 100%;
    min-width: 100%;        
    border-radius: 15px;
    line-height: 40px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    outline: none;
    color: #ffffff;
    border: 1px solid #ffffff;       
}
.signup-btn {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    min-width: 100%;        
    border-radius: 15px;
    line-height: 40px;
    background-color: #ffffff;
    text-decoration: none;
    border: none;
    outline: none;
    color: #16397a;        
}
